@media screen and (min-width:240px) and (max-width:479px) {
    .box {
        margin: 0 auto;
    }
    .boxes {
        width: 100%;
    }
    ul {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    .boxhidden {
        display: block;
    }
    body {
        overflow: hidden;
        -moz-overflow:hidden;
    }
}